@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Courgette&family=Dancing+Script:wght@700&family=Great+Vibes&family=Lato:wght@300;400;900&family=Raleway:wght@100&display=swap");

.container {
  width: 70% !important;
}
/* Hero Start */
#header {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 2rem !important;
}
.hero-content h1,
.menu h2,
#feane h2,
#location h2,
#textimonial h2,
#footer-section h4 {
  font-family: "Dancing Script", cursive;
}
/* Hero End */
/* Discount Section */
.media .img-size {
  border: 5px solid orange;
  width: 150px;
  height: 150px;
}

.media-body p {
  line-height: 1rem;
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
}
.media #price {
  font-size: 1.5rem;
  font-weight: bold !important;
}
.media-body span {
  font-size: 1rem;
}
/* Our Menu Section */
.card-radius {
  border-radius: 4%;
  border: none;
}
.card-img-radius {
  border-bottom-left-radius: 15% !important;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}
/* Location Section */
#location .form-control::placeholder,
#location .form-select,
#location .form-control {
  color: #595353;
  font-size: 1rem;
  padding: 1rem;
}
/* Textimonial Section */
.textimonial-icon-top-img {
  font-size: 1.75rem !important;
  bottom: 82px;
  left: 53px;
}
.textimonial-arrow-icon i {
  padding: 0.55rem 0.75rem !important;
}
